Host *
    #disable host key checking: avoid asking for the keyprint authenticity
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    #enable hashing known_host file
    HashKnownHosts yes
Host server1.test
    HostName localhost
    User nonroot
    Port 2224
Host server2.test
    HostName localhost
    User nonroot
    Port 2225