Host *
    #disable host key checking: avoid asking for the keyprint authenticity
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    #enable hashing known_host file
    HashKnownHosts yes
Host ubuntu1.test
    HostName localhost
    Port 2224
Host ubuntu2.test
    HostName localhost
    Port 2225
Host centos1.test
    HostName localhost
    Port 2226