Host *
    #disable host key checking: avoid asking for the keyprint authenticity
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    #enable hashing known_host file
    HashKnownHosts yes
    User nonroot
    IdentityFile ~/.ssh/id_rsa

Host * !bastion.test
    Port 22
    ProxyCommand ssh -W %h:%p bastion.test

Host bastion.test
    HostName localhost
    Port 2222

Host *.test
    HostName %h
    ProxyCommand ssh -W %h:%p bastion.test
